* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after {
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
}

.header image {
    background-color:white;
    display: flex;
    width: auto;
    height: 70px;


}


.hero-banner {
    box-sizing: border-box;
    display: flex;

}

.discount-banner {
    box-sizing: content-box;
    display: flex;
    width: 150px;
    height: 80px;
    background-color: red;
    color: white;

}

/*Her er styles for CARDS*/

.card {
    width: 300px;
    height: 400px;
    background: #D9D9D9;
    border: 2px solid #777;
    border-radius: .25rem;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
    width: 100%;
}

.card hr{
    width: 90%;
}

.card-header {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.card-body {
    font-size: .9rem;
}
.card-footer {
    margin-top: 1rem;

    }

.btn {
    background: hsl(200, 50%, 60%);
    color: #777777;
    border: none;
    font-size: 1rem;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background: #F6861F;
}

.btn.btn-outline {
    background: none;
    border: 1px solid;
    color: #777777;
}

.btn.btn-outline:hover, .btn.btn-outline:focus {
 background: #25B0DC;
}

.btn, .btn {
    margin-left: .15rem;
}

/*Her er styles for footer*/
footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    background-color: #25B0DC;
    height: 260px;
    width: 100vw;
    border: 2px solid;
    border-color: #777777;
    padding-left: 70px;
    padding-right: 70px;
    grid-template-areas:
    "form customer work about"
    "social social  copyrighht copyright";
}

.footerForm {
    display: grid;
    grid-area: form;
}

.footerSubscribe {
    border: 2px solid white;
    width: 550px;
    height: 45px;
    display: flex;
    margin-top: 35px;
    text-align: center;
}
.footerSubscribe input {
    flex: 1;
    border: none;
    outline: none;
    background-color: #D9D9D9;
}

.email {
    background-color: #D9D9D9;
    text-align: center;
    padding-left: 10px;

}

.footerSubscribe button {
    background: #F6861F;
    padding: 0 50px;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

.customer ul {
    list-style: none;
    text-align: ;
}

.about ul {
    list-style: none;
}

.social {
    grid-area: social;
    display: flex;
    color: #ffffff;
}

.social ul li svg{
    width: 40px;
    height: 40px;
    color: white;
    display: flex;
    margin-right: 30px;
}

.social ul li i {
    color: white;
    width: 20px;
    height: 20px;
}

.social ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.customer {
    grid-area: customer;
    color: #fff;
    margin-top: 35px;
    grid-area: customer;
    padding-left: 80px;

}

.about {
    margin-top: 35px;
    margin-right: 20px;
    list-style: none;
    color: #fff;
    grid-area: about;
}

.fa-brands fa-facebook {
    color: white;
    margin-right: 20px;
}

.fa-square-x-twitter{
    color: orangered;
}

.fa-instagram{
     color: orangered;
}

.fa-youtube {
    color: orangered;
}
