* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after {
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
}

.header image {
    color:white;
    display: flex;
    width: auto;
    height: 70px;
}

.logo{
    display: flex;
    width: auto;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Her er styling av Herobanner og hero-banner -discount*/
.hero-banner {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /*position: relative;*/
    background-image: url("../assests/images/desktop/homepage/hero-banner-photo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 500px;

}

.hero-discount-banner {
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    width: 350px;
    height: 90px;
    background-color: red;
    color: white;
    /*position: absolute;*/
    left: 340px;



}

.hero-discount-banner h2
{
    width: 100%;
    text-align: center;
    font-size: 40px;
}

/*Her er styles for CARDS*/

.card-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    gap: .5rem;
}

.card {
    width: 300px;
    height: fit-content;
    background: #F6F3F3;
    border: 1px solid lightblue;
    border-radius: .25rem;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1rem;
    /*align-items: center;*/

    /*display: grid;*/
    /*grid-template-columns: auto auto auto;*/
    /*grid-template-rows: auto;*/
    box-shadow: #F6861F;
    /*grid-template-areas: "bergans green bergans blue acteryx orange dark";*/

}


.main-productlist {
    display: flex;
    flex-direction: column;
}

.main-productlist img {
    width: 400px;
}


.productlist1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 4rem;
    overflow-x: scroll;
}

.productlist1-card h3 {
    text-decoration-style: solid;
    text-decoration: black;
    font-size: 30px;
    margin-left: 2rem;

}

.productlist1-card, hr {
    width: 70%;
    margin-left: 7rem;
}


.productlist2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 4rem;
    overflow-x: scroll;
}

.productlist2-card, h3 {
    text-decoration-style: solid;
    text-decoration: black;
    font-size: 35px;
    margin-left: 2rem;

}

.productlist2-card, hr {
    width: 70%;
    margin-left: 4rem;
}




      /*Home-page Cards*/
.card, svg {
    background-color: #25B0DC;
    margin-top: 5px;
    color: #ec2727;
}

.card img{
    width: 100%;
}

.card hr{
    width: 100%;
    align-self: center;
    padding-top: 1px;
    margin-top: 5px;
}

.card-header {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.card h3 svg {
    color: red;
}

.card svg {
    color: red;
}

.card-body {
    font-size: .9rem;
}
.card-footer {
    margin-top: .5rem;

    }

/*Buttons*/

.btn {
    background: hsl(200, 50%, 60%);
    color: white;
    border: none;
    font-size: 1rem;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background: #25B0DC;
}

.btn.btn-outline {
    background: none;
    border: 1px solid;
    color: #777777;
}

.btn.btn-outline:hover, .btn.btn-outline:focus {
 background: #25B0DC;
}

.btn, .btn {

    margin-bottom: 45px;
    margin-top: 35px;
}




    /*Button-Produclist*/
.btn-productlist {
    background: hsl(200, 50%, 60%);
    color: white;
    border: none;
    font-size: 1rem;
    padding: .5em .75em;
    border-radius: .25em;
    cursor: pointer;
}

.btn-productlist:hover, .btn:focus {
    background: #1194C2;
}

.btn-productlist.btn-outline {
    background: none;
    border: 1px solid;
    color: #777777;
}

.btn-productlist.btn-outline:hover, .btn.btn-outline:focus {
 background: #25B0DC;
}

.btn-productlist, .btn {

    margin-bottom: 45px;
    margin-top: 35px;
    margin-left: 160px;
}


/*PRODUCT DETAILS*/
.product-details {
    padding: 2rem;
    margin-top: 60px;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-images {
    margin-top: 30px;
}
.product-details, h1 {
    text-decoration: underline;
    text: bold;
    margin: 40px

}

.product-details, p {
    color: #000;
}
.product-details a {
    background-color: #25B0DC;
    align-self: center;
    color: #fff;
    padding: 1rem;
    text-decoration: underline;
    border-radius: .5rem;
    font-weight: 900;

}
.product-details a btn:hover {
    background-color: #1194C2;
}
.product-details h1, p{
    margin: 40px;
    padding: 20px;

}
.product-images {
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
}
.product-images img {
    min-width: 324px;
    height: 324px;
    object-fit: cover;
}



/*Her er styles for footer*/
footer {
    display: flex;
    background-color: #1194C2;
    width: 100vw;
    justify-content: space-between;
    padding: 1rem;
}
.footer-left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.footer-subscribe {
    border: 2px solid white;
    width: 420px;
    height: 35px;
    display: flex;
    text-align: center;
}
.footer-subscribe input {
    flex: 1;
    border: 2px solid white;
    outline: none;
    background-color: #D9D9D9;
    padding-left: 1rem;
}

.footer-socials ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.footer-right-copyright{
    align-self: end;
}

.email {
    background-color: #D9D9D9;
    text-align: center;
    padding-left: 10px;

}

.footer-subscribe button {
    background: #F6861F;
    padding: 0 50px;
    border: 2px solid white;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

.footer-right{
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.footer-right-about {
    display: flex;
    flex-direction: column;
}

.customer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ec2727;
    width: 200px;
    height: 100px;
}

.customer ul li {
    list-style: none;
    display: flex;
}

.about {
    display: flex;
    flex-direction: column;
    color: #ec2727;
    width: 200px;
    height: 100px;
}

.about ul {
    list-style: none;
}

.social {
    display: flex;
    position: relative;
    color: #ffffff;
    padding-top: 120px;
}

.social ul li svg{
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    margin-right: 30px;
}
.copyright svg {
    width: 30px;
    height: 30px;
    color: white;
    display: grid;
    margin-bottom: 35px;
    margin-right: 50px;
}

.social ul li i {
    color: white;
    width: 40px;
    height: 40px;
}

.social ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}




/*ABOUT PAGE*/

/*.main {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.main-box-left {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 750px;
    background-color: #777777;
}

.main-box-right {
   display: flex;
   flex-direction: column;

}

.main-box-right-imagebox1 img {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 250px;
    margin-left: 460px;
}

.main-box-right-imagebox2 img {
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 250px;
    margin-left: 360px;

}

.main-box-right-imagebox3 img {
    display: flex;
    flex-direction: row;
    width: 550px;
    height: 350px;

}







/*.about-body img, logo2 {*/
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-top: 350px;
    margin-left: 640px;

}

/*.about-page {*/
    background-color: #25B0DC;
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 640px;
    margin-left: 70px;


}

/*.about-text {*/
    display: flex;
    flex-direction: column;
    color: black;
    border: 2px solid whitesmoke;
}

.main-box-left.about-text h1 {
    font-size: 35px;
    color: white;
    text-align: center;
    padding-top: 45px;
    margin-left: 120px;
}

/*.main-images {*/
    background-color: #F6861F;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 250px;
}

/*.main-image-1 {*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 800px;
    width: 460px;

}

/*.main-box {*/
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 240px;
    height: 120px;
}

/*.logo2 {*/
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: auto;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin-right: 120px;
}

/*.main-image-2{*/
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 380px;
    height: 260px;
/*}*/







.fa-brands fa-facebook {
    color: white;
    margin-right: 20px;
}

.fa-square-x-twitter{
    color: orangered;
}

.fa-instagram{
     color: orangered;
}

.fa-youtube {
    color: orangered;
}


@media (max-width: 800px) {
    .hero-banner {
        height: 300px;
    }
}

@media (max-width: 900px) {
    header nav .nav-links {
        display: none;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1000px) {

    .card-container{
        flex-direction: column;
        align-items: center;
    }
}